

@media only screen and (min-width: 1024px) {
  .stories-wrapper {
    /* display: flex;
    justify-content: center; */
    padding: 0 45px;
  }
}


@media only screen and (min-width: 1408px) {
  .stories-wrapper {
    padding: 0 65px;
  }
}
