.fa-quote-left,
.fa-quote-right {
  color: #77c043;
}

.fa-quote-right {
  margin-left: auto;
}

.fa-chevron-left, .fa-chevron-right {
  font-size: 25px;
  color: grey;
}

.title-bar {
  margin: 20px 0;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-banner {
  width: 85%;
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 25px;
}

.pull-quote {
  /* border: solid 1px black; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-size: 3.75vh;
  line-height: 1em;
  font-weight: 700;
  float: right;
  padding: 20px;
  margin-top: 0;
}

.pull-quote p {
  margin-left: 20px;
}

.story-summary {
  padding: 20px;
  font-weight: 500;
  text-align: center;
  font-size: 4.2vw;
}

.shoe-specs {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 20px;
}

.shoe-specs * {
  color: white;
}

.shoe-specs h1 {
  font-size: 35px;
}

.specs-title {
  text-align: center;
  background-color: #77c043;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.specs-title li {
  text-align: center;
  font-weight: 600;
}

.features {
  text-align: center;
  background-color: gray;
  list-style-type: disc;
  list-style-position: inside;
  padding: 20px;
}


.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.gal-image {
  width: 33.33%;
  object-fit: cover;
  /* border: solid 1px black; */
}

.modal-image {
  margin-top: 200px;
  outline: none;
}

.modal-icon {
  outline: none;
  font-size: 25px;
  position: relative;
  padding: 20px;
  background-color: transparent;
  border: none;
  top: 15px;
  left: 10px;
}

.modal-icon:active {
  transition: .1s;
  font-size: 24px;
}



@media only screen and (min-width: 1024px) {

  .story-banner {
    font-size: 35px;
    width: 70%;
    /* border: solid 1px black; */
  }

  .story-section {
    height: 74vh;
    /* border: solid 1px red; */
  }

  .carousel-container {
    width: 45%;
    float: right;
    margin: 20px;
    /* border: solid 1px black; */
  }

  .story-img {
    width: 100%;
    object-fit: cover;
    /* border: solid 1px black; */
  }

  .pull-quote {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin-right: 20px;
    padding-bottom: 20px;
  }

  .story-quote {
    width: 25%;
    font-size: 2.5vw;
  }

  .story-summary {
    font-size: 18px;
    line-height: 1.25em;
    text-align: start;
    padding: 0px;
  }

  .pull-quote p {
    margin-left: 45px;
  }

  .stories-lower {
    /* border: solid 1px black; */
    display: flex;
    /* flex-direction: row-reverse; */
    padding: 20px 0;
  }

  .gallery-container {
    width: 75%;
  }
  
  .shoe-specs {
    padding: 0;
    padding-right: 20px;
    /* width: 40%; */
    /* flex-direction: row-reverse; */
  }

  .features, .specs-title {
    /* width: 50%; */
  }

  .specs-title {
    padding: 50px;
  }

  .modal-image {
    margin: 0 auto;
    width: 75%;
    margin-top: 50px;
    outline: none;
  }

  .modal-icon {
    
  }

}

@media only screen and (min-width: 1408px) {
  .story-banner {
    font-size: 45px;
  }

  .story-summary {
    font-size: 23px;
  }

  .gal-image:hover {
    opacity: .5;
    transition: .15s ease-in-out;
  }

  .shoe-specs {
    width: 50%;
  }

  .features {
    padding: 75px;
  }

  .stories-lower {
    margin-top: 20px;
  }

  .specs-title {
    padding: 110px;
  }

  .gallery-container {
    width: 50%;
  }

  .modal-image {
    margin: 0 auto;
    width: 45%;
    margin-top: 55px;
    outline: none;
  }

  .modal-icon {
    font-size: 35px;
    /* position: relative; */
    /* top: 15px; */
    /* left: 10px; */
    /* background-color: white; */
  }
}
