* {font-family: 'Montserrat', sans-serif;}

.bg-dim {
  opacity: .3;
  transition: .25s ease-in-out;
}

.bg-show {
  opacity: 1;
  transition: .15s;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  height: 7vh;
}

.banner-link {
  width: 50%;
  height: 27px;
  margin: 0 15px;
}

.burger {
  width: 30px;
  height: 15px;
  position: relative;
  /* top: 16px; */
  left: 50px;
}

.burger-bar {
  width: 65%;
  height: 2px;
  background-color: black;
  margin: 3px auto;
  transition: 0.2s ease-in-out;
}

.bar-one {
  transform: rotate(45deg) translate(3px, 3px);
}

.bar-two {
  opacity: 0;
}

.bar-three {
  transform: rotate(-45deg) translate(4px, -4px);
}

@media only screen and (min-width: 1024px) {
  .burger {
    display: none;
  }

  .banner {
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    height: 5vh;
  }

  .banner-link {
    margin: 30px auto;
    display: flex;
    justify-content: center;
  }

  .banner-link img {
    width: 40%;
  }
}

@media only screen and (min-width: 1408px) {
  .banner {
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
  }

  .banner img {
    width: 25%;
    /* margin: 5px auto; */
  }
}
