.lower {
    width: 100%;
    height: 11vh;
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    /* margin: 10px auto; */
    margin-top: 10px;
    margin-bottom: 1vh;
    border-top: solid 1px rgba(156, 156, 156, 0.87);
    border-bottom: solid 1px rgba(156, 156, 156, 0.87);
}

footer h1 {
    height: 25px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(97, 97, 97);
}

.footer-box {
    width: 33.33%;
    padding: 5px;
    border-right: solid 1px rgba(156, 156, 156, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-icon {
    font-size: 23px;
    color: rgb(97, 97, 97);

}

.submit-story {
    border-right: none;

}

@media only screen and (min-width: 1024px) {
    
    .lower {
        height: 18vh;
        /* margin: 0 auto; */
    }

    .footer-box {
        padding: 30px;
    }
    
    footer h1 {
        font-size: 15px;
        /* margin: 25px; */
    }

    .footer-icon {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1216px) {
    
    .lower {
        height: 18vh;
    }

    .footer-box {
        padding: 10px;
    }
    
    footer h1 {
        font-size: 25px;
        /* margin: 25px; */
    }

    .footer-icon {
        font-size: 30px;
    }
}