.search-window {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .search-show {
    height: 45vh;
    border-top: solid black 1px;
    transform: translate(0);
    transition: 0.175s ease-out;
  }

  .search-hide {
    height: 45vh;
    border-top: solid black 1px;
    transform: translate(-200%);
    transition: 0.2s ease-in;
  }

  .search-window {
    display: inline;
    position: absolute;
    top: 95px;
    width: 100vw;
    z-index: 10;
    overflow-y: hidden;
  }

  .search-bar-modal {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .search-bar-modal img {
    position: relative;
    bottom: 50px;
    right: -5px;
    margin-bottom: 5px;
    width: 22px;
    height: 22px;
    filter: invert(50%);
  }

  .search-title {
    color: black;
    font-size: 10px;
    padding-left: 10px;
    /* -webkit-text-stroke-width:1px ;
      -webkit-text-stroke-color:black ; */
  }

  .search-field {
    width: 60%;
    align-self: center;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    outline: none;
    border: none;
    border-bottom: solid black 1px;
  }

  .squares {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 44px;
    background-color: white;
  }

  .squares-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  .search-container {
    width: 100%;
    height: 100px;
  }

  .left-box {
    width: 100%;
    background-image: url(https://sneakers-with-stories.s3.us-east-2.amazonaws.com/web-opt/hornets-1.jpg);
    background-size: cover;
    background-position: center;
    border-right: solid 1px black;
  }

  .modal-gallery {
    width: 100%;
    display: flex;
    border-top: solid 1px black;
  }

  .search-modal-image {
    width: 33.33%;
    /* height: 100px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .one {
    background-image: url(https://sneakers-with-stories.s3.us-east-2.amazonaws.com/web-opt/penrose-1.jpg);
  }
  .two {
    background-image: url(https://sneakers-with-stories.s3.us-east-2.amazonaws.com/web-opt/tinley-7.jpg);
  }
  .three {
    background-image: url(https://sneakers-with-stories.s3.us-east-2.amazonaws.com/web-opt/fortnite-3.jpg);
  }

}

@media only screen and (min-width: 1408px) {
  .search-show {
    height: 70vh;
    border-top: solid black 1px;
    transform: translate(0);
    transition: 0.175s ease-out;
  }

  .search-window {
    position: absolute;
    top: 110px;
    width: 100vw;
    z-index: 10;
    overflow-y: hidden;
}

  .search-hide {
    height: 70vh;
    border-top: solid black 1px;
    transform: translate(-200%);
    transition: 0.2s ease-in;
  }

  .search-bar-modal {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .search-bar-modal img {
    position: relative;
    right: 23px;
    margin-bottom: 5px;
    width: 22px;
    height: 22px;
    filter: invert(50%);
  }

  .search-title {
    color: black;

  }

  .search-field {
    width: 75%;
    align-self: center;
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    outline: none;
    border: none;
    border-bottom: solid black 1px;
  }

  .squares {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 75px;
    background-color: white;
  }
}