.logo {
  display: none;
}

.search-bar {
  display: none;
}

.nav-bar {
  position: absolute;
  width: 100vw;
  /* height: 30vh; */
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 0;
  background-color: white;
  z-index: 10;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  transition: .25s;
}

.nav-mobile-hide {
  transform: translate(-200%);
  transition: .25s;
}

.nav-title {
  width: 100vw;
  font-weight: bold;
  line-height: 1.3em;
  padding: 0px 20px;
  color: black;
  font-size: 40px;
}

@media only screen and (min-width: 1024px) {

  .nav-mobile-hide {
    transform: translate(0%);
    /* transition: .25s; */
  }

  .logo {
    display: flex;
    align-items: center;
    /* width: 10%; */
    /* width: 45%; */
  }

  .columns {
    margin-bottom: 0px !important;
  }
  
  .nav-title {
    width: 13vw;
    text-align: center;
    margin-right: 0;
    font-size: 13px;
    color: black;
    padding: 0 8.45px;
    font-weight: bold;
  }


  .nav-bar {
    position: static;
    width: 91.6vw;
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: white;
    z-index: 10;
    border: none;
    /* border: solid 1px black; */
  }

  .logo {
    width: 5%;
  }

  .logo img {
    width: 100%;
  }

  .nav-title:hover {
    color: white;
  }

  .justify-left {
    display: flex;
  }

  .content-has-margin-sides > * {
    margin: auto 25px;
  }

  .has-margin-left {
    margin-left: 5px;
  }

  .nav-title:hover {
    background-color: transparent;
  }

  .nav-title:active {
    background-color: white;
  }
}

@media only screen and (min-width: 1408px) {
  .nav-bar {
    width: 91.6vw;
    margin: 0px auto;
    height: 60px;
    z-index: 10;
    background-color: white;
    /* border-bottom: solid rgb(95, 95, 95) 1px; */
  }

  .logo {
    width: 3.5%;
    position: relative;
    left: 15px;
  }

  .nav-title {
    width: 13.35vw;
    font-size: 15px;
    font-weight: bold;
    padding: 21px;
  }

  .has-margin-left {
    margin-left: 25px;
  }

  .nav-title:hover {
    background-color: black;
    color: white;
  }
}
