.hero {
  width: 100%;
  height: 75vh;
  background-color: #77c043;
  display: flex;
  flex-direction: column;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 45px 20px;
  height: 42vh;
  background-color: #77c043;
}

.hero-text h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  line-height: 0.9em;
}

.hero-text h5 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.hero-splash {
  height: 50vh;
}

.chevron-right {
  width: 5%;
}

@media only screen and (min-width: 1024px) {
  .hero {
    width: 91.65%;
    height: 50vh;
    margin: 0 auto;
    background-color: #77c043;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    align-self: flex-start;
  }

  .hero-splash {
    width: 50%;
    /* height: 34vh; */
  }

  .chevron-right {
    width: 4%;
    margin-left: 5px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 34vh;
    padding: 50px;
  }

  .hero-text h1 {
    color: white;
    font-size: 60px;
    line-height: 0.9em;
    margin-bottom: 20px;
  }

  .hero-text h5 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1216px) {
  .hero {
    width: 91.5%;
    /* height: 80vh; */
  }

  .hero-splash {
    height: 58vh;
    width: 50%;
  }

  .hero-text {
    height: 58vh;
    /* width: 50%; */
    padding: 50px;
  }

  .hero-text h1 {
    font-size: 70px;
  }

  .hero-text h5 {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1408px) {
  .hero {
    width: 91.65%;
    height: 80vh;
  }

  .hero-splash {
    height: 80vh;
    width: 50%;
  }

  .hero-text {
    height: 80vh;
    /* width: 50%; */
    padding: 50px;
  }

  .hero-text h1 {
    font-size: 90px;
  }

  .hero-text h5 {
    color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 60px;
  }
}
